

/*the container must be positioned relative:*/
.custom-select1 {
    position: relative;
    width:15%;
    margin-bottom:8%;
	display:inline-block;
}
@media only screen and (min-width: 760px) {
.custom-select1 {
display:inline-block;
width:15%;
margin-bottom:4%;
}
}

.custom-select1 select {
    display: none; /*hide original SELECT element:*/
}

.select-selected1 {
    
    border: 3px solid #9F4F00;
}

/*style the arrow inside the select element:
.select-selected1:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #7CB9E8 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):
.select-selected1.select-arrow-active1:after {
    border-color: transparent transparent #7CB9E8 transparent;
    top: 7px;
}
*/
/*style the items (options), including the selected item:*/
.select-items1 div,.select-selected1 {
    color: black;
    padding: 8px 16px;
    border: 1px solid #7CB9E8;
    border-radius:50px;
    cursor: pointer;
    user-select: none;
}
@media only screen and (min-width: 760px) {
	.select-items1 div,.select-selected1 {
	padding: 10px;
	font-size:1em;
	}
}
/*style items (options):*/
.select-items1 {
    position: absolute;
    background-color: #E7F2FB;
    border-radius:20px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide1 {
    display: none;
}

.select-items1 div:hover, .same-as-selected1 {
    background-color: rgba(0, 0, 0, 0.1);
}