

/*the container must be positioned relative:*/
.custom-select1 {
    position: relative;
    width:15%;
    /*
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
   */
    margin-bottom:8%;
	display:inline-block;
	
	font-size:1em;
	appearance: none;
}
@media only screen and (min-width: 760px) {
.custom-select1 {
display:inline-block;
width:15%;
margin-bottom:4%;
}
}

